body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: rgb(11, 11, 11);
    color: rgb(197, 241, 39);
    padding: 0px;
}
div {
    color: rgb(0, 0, 0);
    padding: 30px
}

header h1 {
    background-color:  #f0f0f0;
    color: rgb(10, 10, 10);
    padding: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section h2 {
    color: #333;
}

footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 10%;
}

form {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

img {
    width: 200%;
    max-width:600px;
    margin-top: 40px;
    border-radius: 10px;
}



